<div class="col g14" id="nav_bar">   
    <ul id="nav_item_list">
            <li class="nav_item active">
          <a href="/at/entry/1">
            <span class="border_h"></span>
            <span class="outter">
               <span class="border_top"></span>
                <span class="inner">
                  <span class="rim"></span>
                  <span class="title">饿了么</span>
                </span>
            </span>
            <span class="border_h"></span>
          </a>
          <span class="split_half_left">
          </span>
          <span class="split_half_right">
          </span>
      </li>
            <li class="nav_item ">
          <a href="/order">
            <span class="border_h"></span>
            <span class="outter">
               <span class="border_top"></span>
                <span class="inner">
                  <span class="rim"></span>
                  <span class="title">订单中心</span>
                </span>
            </span>
            <span class="border_h"></span>
          </a>
          <span class="split_half_left">
          </span>
          <span class="split_half_right">
          </span>
      </li>
            <li class="nav_item ">
          <a href="/at/promotion">
            <span class="border_h"></span>
            <span class="outter">
               <span class="border_top"></span>
                <span class="inner">
                  <span class="rim"></span>
                  <span class="title">优惠信息</span>
                </span>
            </span>
            <span class="border_h"></span>
          </a>
          <span class="split_half_left">
          </span>
          <span class="split_half_right">
          </span>
      </li>
            <li class="nav_item ">
          <a href="/gift">
            <span class="border_h"></span>
            <span class="outter">
               <span class="border_top"></span>
                <span class="inner">
                  <span class="rim"></span>
                  <span class="title">礼品中心</span>
                </span>
            </span>
            <span class="border_h"></span>
          </a>
          <span class="split_half_left">
          </span>
          <span class="split_half_right">
          </span>
      </li>
            <li class="nav_item ">
          <a href="/feedback">
            <span class="border_h"></span>
            <span class="outter">
               <span class="border_top"></span>
                <span class="inner">
                  <span class="rim"></span>
                  <span class="title">反馈留言</span>
                </span>
            </span>
            <span class="border_h"></span>
          </a>
          <span class="split_half_left">
          </span>
          <span class="split_half_right">
          </span>
      </li>
          </ul>
  </div>
